[submodule "common-utils"]
	path = common-utils
	url = https://github.com/christopherkeller/common-utils.git
[submodule "common-roles"]
	path = common-roles
	url = https://github.com/christopherkeller/common-roles.git
